.footer{
    margin-top: 30px;
    background: #1e1e23;
    padding: 60px 0;
}
.ri-pantone-line:before{
    color: #0000ffc2;
    font-size: 40px;
}
.footer h2, .footer p, footer h6{
    color: #fff;
}
.footer .list-group-item {
    background: #1e1e23;
    padding: 0;
}
.footer .list-group-item a {
    text-decoration: none;
    color: #999;
}
.footer .address {
    margin-bottom: 0;
    color: #999;
}
.follows span a{
    text-decoration: none;
    margin-right: 5px;
    font-size: 22px;
}